{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2> Talks
            <hr class="w-50 mb-1 mx-auto">
        </div>
    </div>

    <div class="row">
        <div class="article-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for talk in talks %}
                {% if talk.embed_url %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 shadow-lg">
                        <div class="card-body pb-0">
                            <iframe width="" height="" src="{{ talk.embed_url }}" title="{{ talks.name }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <p class="mb-0">{{ talk.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ article.publication.friendly_name }}</p>
                                    <small class="text-muted">{{ article.published_date }}</small>
                                    {% if article.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'articles' %}?category={{ article.category }}">
                                            <i class="fas fa-tag mr-1"></i>{{ article.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <small class="text-muted">{{ article.keywords }}</small>
                                    {% if request.user.is_superuser %}
                                    <br>
                                        <small class="ml-3">
                                            <a class="text-info" href="">Edit</a>
                                            <a class="text-danger" href="">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                {% endif %}
                {% endfor %}
                <div class="row mt-1 mb-2"></div>
                {% for talk in talks %}
                {% if talk.image %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0 shadow-lg">
                        <div class="card-body pb-0">
                            <a target="_blank" href="{{ talk.url }}">
                                <img class="card-img-top img-fluid" src="{{ talk.image.url }}" alt="{{ talk.name }}">
                            </a>
                            <p class="mb-0">{{ talk.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">{{ article.publication.friendly_name }}</p>
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ article.published_date }}</small>
                                    {% if article.category %}
                                    <p class="small mt-1 mb-0">
                                        <a class="text-muted" href="{% url 'articles' %}?category={{ article.category }}">
                                            <i class="fas fa-tag mr-1"></i>{{ article.category.friendly_name }}
                                        </a>
                                    </p>
                                    {% endif %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ article.keywords }}</small>
                                    {% if request.user.is_superuser %}
                                    <br>
                                        <small class="ml-3">
                                            <a class="text-info" href="">Edit</a>
                                            <a class="text-danger" href="">Delete</a>
                                    </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>      
            </div>
            {% endif %}
            {% endfor %}


<div class="pagination mx-auto">
    <span class="step-links">
        {% if articles.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <br>
            <a href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            <strong>Page {{ articles.number }} of {{ articles.paginator.num_pages }}.</strong>
        </span>

        {% if articles.has_next %}
            <a href="?page={{ articles.next_page_number }}">next</a>
            <br>
            <a href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}