{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div id="banner-container" class="align-items-center">
    <div id="main-banner" class="col-md-12 col-lg-8 col-xl-7 shadow-lg mx-auto">
        <div class="row align-items-center">
            <div id="image-container" class="col-6">
                <img id="profile-image" class="col-6" src="media/aaina-cover-image.png" alt="Aaina Bhargava">
                <div id="profile-socials" class="col-12">
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Twitter Link"
                        href="https://twitter.com/" target="_blank" role="button" data-mdb-ripple-color="dark"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Facebook Link"
                        href="https://www.facebook.com/" target="_blank" role="button" data-mdb-ripple-color="dark"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Instagram Link"
                        href="https://www.instagram.com/aaina_b/" target="_blank" role="button" data-mdb-ripple-color="dark"><i
                            class="fab fa-instagram"></i></a>

                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="LinkedIn Link"
                        href="https://www.linkedin.com/in/aainabhargava89/" target="_blank" role="button" data-mdb-ripple-color="dark"><i
                            class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div id="details-container" class="col-6">
                <div id="details-paragraph">
                    <h1><i>Aaina Bhargava</i></h1>
                    <br>
                    <p>Aaina is an arts writer and editor raised and based in Hong Kong. She is currently the Arts and
                        Culture Editor of Tatler Asia, where she continues to identify topical issues and chart growing
                        cultural trends in Asia and around the world. Through interviews with prominent industry names
                        and notable emerging talents, Aaina seeks to create stimulating and meaningful editorial
                        content, covering cultural developments through a relevant, global perspective. Previously a
                        culture reporter at the South China Morning Post, Aaina also contributes to Art Review, The Art
                        Newspaper, Ocula, Design Anthology, and Artomity, and has extensive experience in the art world
                        working for and with a variety of institutions in Asia and the UK.</p>
                    <h1>Featured Publications:</h1>
                </div>
                <div id="publications-bar">
                    <a target="_blank" href="https://www.tatlerasia.com/authors/aaina-bhargava">
                        <img class="publications-logo" src="{{ MEDIA_URL }}tatler-logo.png">
                    </a>
                    <a target="_blank" href="https://www.scmp.com/author/aaina-bhargava">
                        <img class="publications-logo" src="{{ MEDIA_URL }}scmp-logo.png">
                    </a>
                    <a target="_blank" href="https://artreview.com/author/aaina-bhargava/">
                        <img class="publications-logo" src="{{ MEDIA_URL }}art-review-logo.png">
                    </a>
                        <img class="publications-logo" src="{{ MEDIA_URL }}e-flux-logo.png">
                        <img class="publications-logo" src="{{ MEDIA_URL }}art-basel-logo.png">
                        <img class="publications-logo" src="{{ MEDIA_URL }}artsy-logo.png">
                        <img class="publications-logo" src="{{ MEDIA_URL }}museeum-logo.png">
                        <img class="publications-logo" src="{{ MEDIA_URL }}macao-magazine-logo.png">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}