{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div id="banner-container" class="align-items-center">
    <div id="main-banner" class="col-md-12 col-lg-8 col-xl-7 shadow-lg mx-auto">
        <div class="row align-items-center">
            <div id="image-container" class="col-6">
                <img id="profile-image" class="col-6" src="media/aaina-cover-image.png" alt="Aaina Bhargava">
                <div id="profile-socials" class="col-12">
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Twitter Link"
                        href="https://twitter.com/" target="_blank" role="button" data-mdb-ripple-color="dark"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Facebook Link"
                        href="https://www.facebook.com/" target="_blank" role="button"
                        data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="Instagram Link"
                        href="https://www.instagram.com/" target="_blank" role="button"
                        data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                    <a class="btn btn-link btn-floating btn-lg text-dark m-1" aria-label="LinkedIn Link"
                        href="https://www.linkedin.com/" target="_blank" role="button"
                        data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div id="details-container" class="col-6">
                <div id="details-paragraph">
                    <p>Aaina is the Arts and Culture Editor of Tatler Asia. A passion for history and all things
                        visual led her in the pursuit of art history. With extensive experience in the art world
                        working for a range of art institutions, she combined her passion and expertise in the form
                        of art and culture journalism. Prior to Tatler, Aaina worked as a culture reporter for South
                        China Morning Post and editor at the online art platform Cobo Social. Additionally, she has
                        contributed to a variety of prestigious art publications including Art Review, Ocula, Art
                        Agenda, Artsy, Design Anthology, and Artomity. Follow her on Instagram.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}